body {
	font-size: 18px;
	line-height: 27px;
	font-family: "PTSansNarrowRegular", Arial, sans-serif;
	color: #f7f4f1;
	font-style: normal;

	background-color: $bg-darkgrey;
}

img {
	max-width: 100%;
	height: auto;
}