.main-nav { 
	position: relative;

	width: auto; 
	// width: 320px;
	min-height: 50px;
	// margin: 0 auto;

	background-color: #826550;
}

.main-nav__toggle {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;

	display: block;
	width: 70px;
	height: 50px;

	font-size: 0;

	background-color: #6a4d38;
	cursor: pointer;

	border: none;

	&:hover {
		background-color: #624530;
	}
	&:active {
		background-color: #624530;
	}
}

.main-nav--closed .main-nav__toggle::before {
	content: "";
	position: absolute;
	top: 15px;
	left: 17px;

	width: 36px;
	height: 2px;

	background-color: #fff;
	box-shadow: 0 8px 0 0 #fff,
							0 16px 0 0 #fff;
}

.main-nav--closed .main-nav__toggle:active::before {
	background-color: rgba(255, 255, 255, 0.3);
	box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3),
							0 16px 0 0 rgba(255, 255, 255, 0.3);
}

.main-nav--opened .main-nav__toggle {
	top: 0;
	right: auto;
	left: 0;

	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 24px;
		left: 18px;

		width: 36px;
		height: 2px;

		background-color: #fff;
	}

	&::before {
		transform: rotate(45deg);
		box-shadow: none;
	}

	&::after {
		transform: rotate(-45deg);
	}

	&:active::before,
	&:active::after { 
		background-color: rgba(255, 255, 255, 0.3);
	}
}

.main-nav__list,
.main-nav__user-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.main-nav__list {
	font-weight: 700;
}

.main-nav__item a {
	display: block;
	padding: 12px 21px;
	padding-bottom: 13px;

	font-family: "PTSansNarrowBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;

	background-color: #826550;
	border-top: 1px solid #886e5b;
	border-bottom: 1px solid #71543f;
}

.main-nav__item a[href] { //a[href] - те элементы у которых он есть
	&:hover {
		background-color: #755a46;
		border-top-color: #755a46;
	}

	&:active {
		color: rgba(255, 255, 255, 0.3);

		background-color: #6a4d38;
		border-top-color: #6a4d38;
	}
} 

.main-nav__user-list {
	// min-height: 55px;
}

.main-nav__user-login {
	position: relative;

	display: block;
	padding: 17px 21px;
	padding-left: 49px;

	line-height: 18px;
	color: #fff;
	text-decoration: none;

	&::before {
		content: "";
		position: absolute;
		top: 19px;
		left: 20px;

		width: 16px;
		height: 16px;
		
		background-image: url("../img/icon-social-sprite.png");
		background-position: -10px -204px;
	} 
}

@media ($mobile-widths-only) {
	.main-nav--closed .main-nav__item {
		display: none;

		&--active {
			display: block;
		}
	}

	.main-nav--closed .main-nav__item--active a {
		padding-right: 70px;
		padding-left: 70px;

		text-align: center
	}

	.main-nav--closed .main-nav__user-list {
		display: none;
	}

	.main-nav--opened .main-nav__wrapper {
		position: absolute;
		top: 0;
		right: 0;
		left: 70px;
		z-index: 10;

		height: 80vh;

		background-color: #6a4d38;
	}

	.main-nav--opened .main-nav__wrapper::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;

		width: 7px;
		height: 100%;

		box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
	}

	.main-nav--nojs .main-nav__toggle {
		display: none;
	}

	.main-nav--nojs .main-nav__wrapper {
		position: static;

		height: auto;
	}

	.main-nav--nojs .main-nav__item {
		display: block;
	}

	.main-nav--nojs .main-nav__item--active a {
		padding-right: 21px;
		padding-left: 21px;

		text-align: left;
	}

	.main-nav--nojs .main-nav__user-item {
		display: block;

		background-color: #6a4d38;
	}
}

@media ($tablet-widths) {
	.main-nav {
		width: auto;
		min-height: 70px;
		margin: 0;

		background-color: black;
	}
	
	.main-nav__wrapper {
		// @include container();
		// @include clearfix();
		@include container-fluid();
		 
		display: flex;
		justify-content: space-between;
	}

	.main-nav__toggle {
		display: none;
	}

	.main-nav__list {
		// float: left;
		// width: 570px;
		display: flex;
		flex-wrap: wrap;
		flex-grow: 1;
	}

	.main-nav__user-list {
		// float: right;
		width: 60px;
	}

	.main-nav__item {
		// float: left;
		margin-right: 32px;

		&:last-child {
			// margin-right: 0;
		}

		&--active {
			position: relative;

			&::after {
				content: "";
				position: absolute;
				right: 0;
				bottom: -3px;
				left: 0;

				height: 3px;

				background: #826550;
			}
		}
	}

	.main-nav__item a {
		padding: 0;
		padding-top: 25px;
		padding-bottom: 23px;

		background: none;
		border: none;
	}
  
	.main-nav__item a[href] {
		&:hover {
			color: #826550;
			background-color: black;
		}

		&:active {
			color: #fff;
			background-color: black;
			opacity: 0.3;
		}
	}

	.main-nav__user-login {
		width: 60px;
		height: 70px;
		padding: 0;

		font-size: 0;

		&::before {
			top: 29px;
			left: 12px;
		}

		&:hover::before {
			content: "";
			position: absolute;
			width: 16px;
			height: 16px;
			
			background-image: url("../img/icon-social-sprite.png");
			background-position: -10px -276px;
		}

		&:active::before {
			background-position: -10px -204px;
		}
	}
}

@media ($desktop-widths) {
	.main-nav__list {
		// width: 780px;
	}

	.main-nav__item {
		margin-right: 0;

		&--active::after {
			right: 30px;
			left: 30px;
		}
	}

	.main-nav__item a {
		padding-right: 31px;
		padding-left: 31px;
	}

	.main-nav__item a[href] {
		&:hover {
			color: #000;

			background-color: #fff;
		}

		&:active {
			color: rgba(0, 0, 0, 0.3);

			background-color: #fff;
			opacity: 1;
		} 
	}

	.main-nav__user-list {
		width: auto;
		max-width: 160px;
	}

	.main-nav__user-login {
		position: relative;

		width: auto;
		height: auto;
		padding: 25px 30px 23px 50px;

		font-weight: 700;
		font-size: 18px;
		line-height: 24px;
		text-transform: uppercase;
		text-decoration: none;

		&:hover {
			color: #000;

			background-color: #fff;
		}

		&:active {
			color: rgba(0, 0, 0, 0.3);

			background-color: #fff;
		}

		&:hover::before {
			background-position: 0 0;
		}

		&:active::before {
			background-position: 0 0;
			opacity: 0.1;
		}

	}

	.main-nav__user-login::before {
		left: 15px;
	}

}