.page-header__logo {
	height: 85px;
	text-align: center;
}

.page-header__logo img {
	width: 230px;
	height: 85px;
}

@media ($tablet-widths) {
	.page-header {
		display: flex;  
		flex-direction: column;
		min-height: 0;
		background-color: #000;
	}

	.page-header__logo {
		order: 2;
		position: relative;

		width: 100%;
		height: 400px;

		background-color: #000;
		background-image: url("../img/bg-header-tablet.jpg");
		background-repeat: no-repeat;
		background-position: center -60px;
		background-size: cover;

		// for Retina
		// @media ($retina-dpi), ($retina-dppx) {
		// 	background-image: url("img/bg-header@2x.jpg");
		// 	background-size: 1338px auto;
		// }
	}

	.page-header__logo img {
		position: absolute;
		bottom: 257px;
		left: 50%;

		width: 370px;
		height: auto;

		transform: translateX(-50%);
	}

	.page-header__logo--inner {
		height: 215px;

		background-image: url("../img/bg-inner-tablet.jpg");
		background-position: center -70px;
	}

	.page-header__logo--inner img {
		top: 40px;
		bottom: 0;
	}
}

@media ($desktop-widths) {
	.page-header__logo {
		height: 648px;

		background-image: url("../img/bg-header-desktop.jpg");
		background-position: center 0px;
		// background-size: cover;
	}

	.page-header__logo--inner {
		height: 310px;

		background-image: url("../img/bg-inner-desktop.jpg");
		background-position: center -80px;
		background-size: auto;
	}

	.page-header__logo img {
		top: 55px;
	}
}