.slider {
	position: relative;
}

.slider__input {
	display: none;
}

.slider__item {
	display: none;
}

.slider__toggles {
	text-align: center;
	font-size: 0;
}

.slider__toggle {
	display: inline-block;
	vertical-align: top;

	width: 7px;
	height: 7px;
	margin-right: 23px;

	border: 1px solid #A5A5A5;
	border-radius: 1px;

	transform: rotate(45deg);
	cursor: pointer;

	&:last-child {
		margin-right: 0;
	}
}