.price {
	background-color: $bg-darkgrey;
	color: #fff;
}

.price__wrapper {
	@include container-fluid();

	padding-top: 65px;
	padding-bottom: 20px;
	margin: 0 20px;
}

.price__title {
	padding: 0;
	margin: 0;
	margin-bottom: 25px;

	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
}

.price__table {
	display: block;
	font-size: 20px;
	line-height: 27px;
	margin-bottom: 25px;
	
	tbody {
		display: block;
	}

	tr {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 15px;
	}

	td {
		display: block;
		padding: 0 5px; 
	}

	.col-1 {
		display: none;
	}

	.col-2 {
		font-family: "PTSansNarrowBold", Arial, sans-serif;
		padding-left: 0;
		font-weight: 700;
	}

	.col-3 {
		order: 4;
		width: 100%;
		padding-left: 0;
	}

	.col-4 {
		padding-right: 0;
	}
}

.price__discount {
	position: relative;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 30px;
	padding-left: 110px;

	font-size: 20px;
	border: 1px solid #484848;	

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 20px;
		width: 57px;
		height: 57px;
		transform: translateY(-50%);
		background-image: url(../img/clock-illustration.svg);
    background-repeat: no-repeat;
		border-radius: 50%;
	}
}

.price__discount p {
	margin: 0;
}

@media ($tablet-widths) {
	.price__wrapper {
		padding: 0;
		padding-top: 80px;
		padding-bottom: 55px;
	}

	.price__title {
		margin-bottom: 50px;
		font-size: 40px;
		line-height: 45px;
		text-align: left;
	}

	.price__table {
		display: table;
		border-collapse: collapse;
		width: 100%;
		margin-bottom: 10px;
		
		tbody {
			display: table-row-group;
		}

		tr {
			display: table-row;
		}

		td {
			display: table-cell;
			padding: 12px 18px;
			vertical-align: top;
			border: 1px solid #484848;
		}

		.col-1 {
			display: table-cell;
			width: 10%;
			padding-left: 0;
			padding-right: 0;
			text-align: center;
			color: rgba(255, 255, 255, .3);
		}

		.col-2 {
			width: 36%;
			padding: 12px 18px;
		} 

		.col-3 {
			width: 25%;
			padding: 12px 18px;
		}

		.price__bkt {
			display: none;
		}

		.col-4 {
			width: 25%;
			padding: 12px 18px;
		}
	}

	.price__discount {
		// height: 120px;
		padding-top: 40px;
		padding-bottom: 40px;
		padding-left: 180px;
		padding-right: 100px;
		font-size: 30px;
		line-height: 36px;
		text-transform: uppercase;
		// text-align: center;
		font-weight: bold;	

		&::before {
			left: 25px;
			width: 75px;
			height: 75px;
		}
	}
}

@media ($desktop-widths) {
	.price__wrapper {
		padding-top: 70px;
		padding-bottom: 85px;
	}

	.price__column-wrapper {
		display: flex;
		justify-content: space-between;
	}

	.price__table {
		width: auto;
		margin-bottom: 0;
	}

	.price__discount {
		width: 150px;
		height: auto;
		margin: 0;
		padding: 10px 50px;
		padding-top: 190px;
		font-size: 20px;
		font-weight: normal;	
		line-height: 27px;
		text-transform: none;
		text-align: center;

		&::before {
			top: 25px;
			left: 50%;
			width: 140px;
			height: 140px;
			transform: translateY(0) translateX(-50%);
		}
	}	
}

