.reviews {
	background-color: $bg-lightgrey;
	color: #000;

	border-top: 1px solid #E5DDD5;
}

.reviews__wrapper {
	@include container-fluid();

	padding-top: 25px;
	padding-bottom: 15px;
}

.reviews__title {
	margin: 0;
	margin-bottom: 28px;

	font-family: "PTSansNarrowBold", Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 700;
	line-height: 30px;
}

.reviews__write {
	display: none;
}

.reviews__link {
	margin: 0;
	margin-bottom: 25px;
	padding: 0;
}

.reviews__item {
	position: relative;
	margin: 0 20px;
	margin-bottom: 25px	;
	padding-left: 70px;
}

.reviews__item:nth-child(n+2) {
	display: none;
}

.reviews__auhor-foto {
	position: absolute;
	top: 10px;
	left: 0;
	width: 50px;
	height: 50px;
}
.reviews__auhor-name {
	display: block;
	margin-bottom: 10px;
	font-family: "PTSansNarrowBold", Arial, sans-serif;
	font-size: 24px;
	font-weight: 700;
	font-style: normal;
	line-height: 27px;
}

.reviews__item p {
	margin: 0;
	padding: 0;
}

.reviews__prev,
.reviews__next {
	display: none;
}

#reviews-input-1:checked~ .reviews__toggles label[for="reviews-input-1"],
#reviews-input-2:checked~ .reviews__toggles label[for="reviews-input-2"],
#reviews-input-3:checked~ .reviews__toggles label[for="reviews-input-3"] {
	background-color: #353535;
}

#reviews-input-1:checked~ .reviews__link .slider__item:nth-child(1) {
	display: block;
}

#reviews-input-2:checked~ .reviews__link .slider__item:nth-child(2) {
	display: block;
}

#reviews-input-3:checked~ .reviews__link .slider__item:nth-child(3) {
	display: block;
}


@media ($tablet-widths) {
	.reviews {
		padding-top: 40px;
		padding-bottom: 65px;
	}

	.reviews__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0;
	}

	.reviews__title {
		text-align: left;
		font-size: 40px;
		margin-bottom: 40px;
	}

	.reviews__write {
		display: block;
		align-self: flex-start;
		margin-top: -10px;
	}

	.reviews__link {
		display: flex;
		margin-bottom: 0;
	}

	.reviews__item {
		order: 1;
		margin: 0;
		padding: 33px 30px 33px 135px;
		border-top: 1px solid #e5ddd5;
		border-bottom: 1px solid #e5ddd5;
	}

	.reviews__auhor-foto {
		top: 38px;
		left: 30px;
		width: 80px;
		height: 80px;
	}

	.reviews__auhor-name {
		margin-bottom: 12px;
	}

	.reviews__prev,
	.reviews__next {
		display: block;
		min-width: 48px;
		padding: 0;
		font-size: 0;
		border: 1px solid #e5ddd5;
		background-color: $bg-lightgrey;
		outline: none;

		&::after {
			content: "";
			width: 0;
			height: 0;
			border: 12px solid transparent;
			border-top: 6px solid transparent;
			border-bottom: 6px solid transparent;
		}
	}

	.reviews__prev {
		order: 0;

		&::after {
			margin-left: -12px;
			border-right: 12px solid #000;
		}
	}

	.reviews__next {
		order: 3;

		&::after {
			margin-left: 12px;
			border-left: 12px solid #000;
		}
	}

	.reviews__toggles {
		margin: auto;
		margin-top: -5px;
		background-color: #F8F5F2;
		z-index: 2;
		padding: 0 25px;
	}
}

@media ($desktop-widths) {
	.reviews {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.reviews__title {
		margin-left: 70px;
		margin-bottom: 40px;
	}

	.reviews__link {
		margin-bottom: 40px;
	}

	.reviews__item {
		margin-right: 20px;
		margin-left: 20px;
		padding-left: 320px;
		padding-right: 50px;

		border: 1px solid #e5ddd5;
	}

	.reviews__auhor-foto {
		position: absolute;
		top: 0px;
		left: 0;
		width: 250px;
		height: 160px;
	}
}